/*  your css code here. If applicable */
#h{
	text-align:center;
}

body{
	background-color: rgb(204, 204, 204);
}

#li{
	background-color:white;
}
.player_one{
	text-align:center;
	border-radius:1px;
	padding:1px;
}
