/*  your css code here. If applicable */
#h{
	text-align:center;
}

body{
	background-color: rgb(204, 204, 204);
}

ul {
            list-style-type: none;
        }
#li a {
            text-decoration-line: none;
        }
.player_one, .player_two {
            background-color: rgb(255, 255, 255);
            padding: 10px;
            border-radius: 10px;
        }
